.card{
  width: 80vw;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.actions{
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
}
